[push]
	default = current
[pull]
	default = current
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	editor = /usr/bin/vim
	excludesfile = ~/.gitignore_global
[user]
	email = hello@joerefoy.com
	name = Joe Refoy
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
